@model IEnumerable<LoanAccount>

@{
    ViewData["Title"] = "Loan Accounts";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAccount.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a class="dropdown-trigger btn" href="#" data-target="@(item.GLAccountId)actions">Action</a>
                <ul id="@(item.GLAccountId)actions" class="dropdown-content">
                    <li>
                        <a asp-action="Details" asp-route-id="@item.GLAccountId">
                            <i class="material-icons">visibility</i> View Account
                        </a>
                    </li>
                    <li>
                        <a asp-action="Edit" asp-route-id="@item.GLAccountId">
                            <i class="material-icons">edit</i> Edit Account
                        </a>
                    </li>
                    <li>
                        <a asp-action="Delete" asp-route-id="@item.GLAccountId">
                            <i class="material-icons">delete</i> Delete Account
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>
