@model UserRoleViewModel
@{
    ViewData["Title"] = "Create User";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col m4">
        <form method="post">
            <h4>Add a new user account.</h4>
            <hr />
            <div asp-validation-summary="All" class="red-text"></div>
            <div class="input-field">
                <label asp-for="@Model.User.FirstName"></label>
                <input asp-for="@Model.User.FirstName" class="validate" />
                <span asp-validation-for="@Model.User.FirstName" class="red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="@Model.User.LastName"></label>
                <input asp-for="@Model.User.LastName" class="validate" />
                <span asp-validation-for="@Model.User.LastName" class="red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="@Model.User.Email"></label>
                <input asp-for="@Model.User.Email" class="validate" />
                <span asp-validation-for="@Model.User.Email" class="red-text"></span>
            </div>
            <div>
                <label asp-for="RoleId">Role</label>
                <select asp-for="RoleId" asp-items="@Model.Roles" class="browser-default">
                </select>
                <span asp-validation-for="Roles" class="red-text"></span>
            </div>
            <br />
            <button type="submit" class="btn waves-effect waves-light">Create User</button>
        </form>
    </div>
</div>
