@model IEnumerable<CBAUser>
@{
    ViewData["Title"] = "Users";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create">Create New User</a>
</p>

<table class="striped responsive-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    <a class="dropdown-trigger btn" href="#" data-target="@(item.Id)actions">Action</a>
                    <ul id="@(item.Id)actions" class="dropdown-content">
                        <li>
                            <a asp-controller="UserRoles" asp-action="Index" asp-route-userId="@item.Id">
                                <i class="material-icons">build</i> Manage Roles
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
