@model CBARole
@{
    ViewData["Title"] = $"Delete {Model.Name} Role";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn red waves-effect waves-light">Delete</button> |
        <a asp-action="Index">Back to Roles</a>
    </form>
    <br/>
</div>