@model RoleViewModel

@{
    ViewData["Title"] = $"Details for {Model.Name} Role";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to Roles</a>
</div>
<br />

@if (Model.AuthorizedUsers.Any())
{
    <ul class="collection with-header">
        <li class="collection-header"><h4>Authorized Users</h4></li>
        @foreach (var user in Model.AuthorizedUsers)
        {
            <li class="collection-item">@user</li>
        }
    </ul>
}
else
{
    <h5 class="card-title">No Users found with @Model.Name Role</h5>
}