@using Microsoft.AspNetCore.Identity
@model IEnumerable<CBARole>
@{
    ViewData["Title"] = "User Roles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Add Role</a>
</p>

<table class="striped responsive-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="dropdown-trigger btn waves-effect waves-light" href="#" data-target="@(item.Id)actions">Action</a>
                    <ul id="@(item.Id)actions" class="dropdown-content">
                        <li>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <i class="material-icons">visibility</i> View
                            </a>
                        </li>
                        <li>
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Edit
                            </a>
                        </li>
                        <li>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i class="material-icons">delete</i> Delete
                            </a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        @if (@item.Name != "SuperAdmin")
                        {
                            <li>
                                <a asp-controller="Permission" asp-action="Index" asp-route-roleId="@item.Id">
                                    <i class="material-icons">build</i> Manage Permissions
                                </a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>