@model LoanAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan Account</h4>
    <hr />
    <dl class="row">
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.CustomerAccount)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.CustomerAccount)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.DateOpened)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.DateOpened)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.Principal)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.Principal)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.CompoundInterest)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.CompoundInterest)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.DurationYears)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.DurationYears)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.RepaymentFrequencyMonths)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.RepaymentFrequencyMonths)
        </dd>
        <dt class="col s2">
            @Html.DisplayNameFor(model => model.RepaymentAmountPerTime)
        </dt>
        <dd class="col s10">
            @Html.DisplayFor(model => model.RepaymentAmountPerTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GLAccountId">Restructure Loan</a> |
    <a asp-action="Index">Back to List</a>
</div>
